html,
body {
    background: linear-gradient(120deg, #a6a7d0, #41426c);
    background-size: 400% 400%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    background-color: #fff;
}

/*LOGIN*/