<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Libros</title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style-principal.css">
    <link rel="stylesheet" href="/CSS/lista.css">
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Leeme! hoy y siempre!</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
            aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/Login">LOGIN</a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link text-white text-center">
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/catalogo" class="nav-link text-white text-center">
                                Catalogo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/RegistroLibros" class="nav-link text-white text-center">
                                Registro de libros
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/DatosUsuario" class="nav-link text-white text-center">
                                Datos Usuario
                            </a>
                        </li>
                    </ul>
            </nav>
        </div>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 te xt-bg-light">
        <h1 class="text-center mb-3 fw-bolder fst-italic">LISTO PARA EXPLORAR</h1>
        <h2 class="text-center fw-lighter"> A un click de que puedas explorar nuevos mundos</h2>

        <!--cada libro-->
        <div class="row">
            <div class="col-md-4 col-lg-3 d-md-block">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <div class="text-black text-center text-decoration-none">
                        <span class="fs-4">Categorias</span>
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li th:each="cat: ${categories}" class="nav-item">
                            <a th:href="@{/catalogo/{id}(id=${cat.id})}"
                                th:class="'nav-link '+${cat.id == id ? 'active' : ''}" aria-current="page">
                                <span th:text="${cat.name}">Action</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 d-md-block">
                <div id="error" th:if="${error != null}">
                    <div th:text="${error}" class="alert alert-warning text-dark" role="alert">
                        Error
                    </div>
                </div>
                <div id="results" th:if="${error == null}">
                    <div class="fs-4 text-center pt-3" th:text="${title}">Categories</div>
                    <hr>
                    <div class="container mb-auto">
                        <div class="row" th:if="${id == null}">
                            <p>Por favor seleccione una categoria</p>
                        </div>
                        <div th:if="${id != null}" class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                            <div th:if="${libros.isEmpty()}">
                                <p>No hay libros en esta categoria</p>
                            </div>
                            <div th:if="${!libros.isEmpty()}" th:each="libro: ${libros}" class="col mb-3">
                                <!-- Cada video -->
                                <div class="libro card shadow-sm bg-white">
                                    <img th:src="${libro.imageUrl != null ? libro.imageUrl : '/images/noimage.jpg' }"
                                        class="card-img-top" alt="${libro.name}">
                                    <div class="card-body text-dark">
                                        <h5 th:text="${libro.name}" class="card-title">titulo carta</h5>
                                        <p th:text="${libro.description}" class="card-text">ejemplo rapido.
                                        </p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group m-2">
                                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                                data-bs-toggle="modal" data-bs-target="#detailModal">Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </main>
    <script src="/JS/bootstrap.bundle.min.js"></script>
</body>

</html>