<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactenos</title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style-principal.css">
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/principal">Leeme! hoy y siempre!</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
            aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/">SALIR</a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/principal" class="nav-link text-white text-center">
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/listaLibros" class="nav-link text-white text-center">
                                Lista de Libros
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/RegistroLibros" class="nav-link text-white text-center">
                                Registro de libros
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/DatosUsuario" class="nav-link text-white text-center">
                                Datos Usuario
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contacto" class="nav-link text-white text-center">
                                Contacto
                            </a>
                        </li>
                    </ul>
            </nav>
        </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 text-bg-light">
        <h1 class="text-center mb-3 fw-bolder fst-italic">COMUNICATE CON NOSOTROS</h1>
        <div class="container-fluid col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
            <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                <!-- Name -->
                <div class="text-left">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Nombre" required>
                    <div class="help-block with-errors"></div>
                </div>
                <!-- email -->
                <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                    <div class="help-block with-errors"></div>
                </div>
                <!-- Subject -->
                <div>
                    <label for="msg_subject" class="form-label">Asunto</label>
                    <input type="email" class="form-control" id="msg_subject" placeholder="Asunto" required>
                    <div class="help-block with-errors"></div>
                </div>
                <!-- Message -->
                <div>
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control text-dark" id="message" placeholder="Mensaje" rows="3"
                        required></textarea>
                    <div class="help-block with-errors"></div>
                </div>
                <!-- Form Submit -->
                <div class="form-submit mt-2">
                    <button class="btn btn-primary w-100" type="submit" id="form-submit">
                        <i class="material-icons mdi mdi-message-outline"></i> Enviar
                    </button>
                </div>
            </form>
        </div>
    </main>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>