<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style-principal.css">
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/principal">Leeme! hoy y siempre!</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
            aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/">SALIR</a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/principal" class="nav-link text-white text-center">
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="/listaLibros" class="nav-link text-white text-center">
                                Lista de Libros
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/RegistroLibros" class="nav-link text-white text-center">
                                Registro de libros
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/DatosUsuario" class="nav-link text-white text-center">
                                Datos Usuario
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contacto" class="nav-link text-white text-center">
                                Contacto
                            </a>
                        </li>
                    </ul>
            </nav>
        </div>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 text-bg-light">
        <h1 class="fw-normal text-center">¡¡¡LISTO PARA LEER!!!</h1>
        <div class="container marketing ">
            <div class="row">
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img"
                        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                            dy=".3em">140x140</text>
                    </svg>

                    <h2 class="fw-normal">Libro 1</h2>
                    <p>Descripcion libro.</p>
                    <p><a class="btn btn-secondary" href="#">Ver libro &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img"
                        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                            dy=".3em">140x140</text>
                    </svg>

                    <h2 class="fw-normal">Libro 2</h2>
                    <p>Descripcion.</p>
                    <p><a class="btn btn-secondary" href="#">Ver libro &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" role="img"
                        aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                            dy=".3em">140x140</text>
                    </svg>

                    <h2 class="fw-normal">Libro 3</h2>
                    <p>Descripcion.</p>
                    <p><a class="btn btn-secondary" href="#">Ver libro &raquo;</a></p>
                </div>
                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">Encuentra tu libro</h2>
                        <p class="lead">EL libro que quieras en formato pdf para tu uso</p>
                    </div>
                    <div class="col-md-5">
                        <img src="" width="300" height="300" alt="" class="image-fluid img-thumbnail">

                    </div>
                </div>
                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading fw-normal lh-">Te gusto tanto que lo quieres coleccionar?</h2>
                        <p class="lead">Te ayudamos a encontrarlo en las principales librerias del pais.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="" width="300" height="300" alt="" class="image-fluid img-thumbnail">

                    </div>
                </div>
            </div>

    </main>
    <!-- JavaScript Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>